{% autoescape off %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>Rozgrywki</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script>
            $(document).ready(function() {
              $('li.active').removeClass('active');
              $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
            });
      </script>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Rozgrywki</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Strona główna</a></li>
              {% if user.is_authenticated %}
                    <li><a href="{% url 'events' %}"><span class="glyphicon glyphicon-info-sign"></span> Moje turnieje</a></li>
                  <li><a href="{% url 'team-list' %}"><span class="glyphicon glyphicon-info-sign"></span> Moje drużyny</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-star-empty"></span> Wyloguj</a></li>
              {% else %}
                <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              {% endif %}
              <li><a href="{% url 'search' %}"><span class="glyphicon glyphicon-search"></span> Szukaj</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="red-line"></div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
  </body>
</html>
{% endautoescape %}
